{% extends 'base.html' %}


{% block header%}
<h1>Restaurar contraseña</h1>
{% endblock header%}
{% block content%}


{% if validlink %}

<h2>Nueva contraseña</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <div>
            {{ form.new_password1.errors }}
            <label for="username">Nueva contraseña</label>
            {{ form.new_password1 }}
        </div>
    </div>
    <div>
        <div>
            {{ form.new_password2.errors }}
            <label for="username">Confirmar contraseña</label>
            {{ form.new_password2 }}
        </div>
    </div>
    <div>
        <div>
            <button>Enviar</button>
        </div>
    </div>
</form>
{% else %}
<h2>Enlace no valido para ingreso</h2>
{% endif  %}

{% endblock content%}