{% extends 'base.html' %}

{% block header %}
<h1>Este es el listado de todas las mascotas</h1>
{% endblock header %}

{% block content %}
{% if object_list %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Rescate</th>
            <th>Persona</th>
            <th>Vacunas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for mascota in object_list %}
            <tr>
                <td>{{ mascota.id }}</td>
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.sexo }}</td>
                <td>{{ mascota.edad_aproximada }}</td>
                <td>{{ mascota.fecha_rescate }}</td>
                <td>{{ mascota.persona.nombre }}</td>
                <td>{{ mascota.vacuna.nombre }}</td>
                <td>
                    <a href="{% url 'mascota:mascota_edit_view' mascota.id %}">Editar</a>
                    <a href="{% url 'mascota:mascota_delete_view' mascota.id %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h3>no se encotraron registros</h3>
{% endif %}
{% endblock content %}